*{
    margin: 0;
    padding: 0;
}
span{
    font-family: "Rubik Mono One", monospace;
    font-weight: 500;
    color: #3A75B8;
}
body{
    background-color: #E7E7E7;
}



header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-left: 65px;
    padding-right: 65px;
}
.nav-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-icon h1{
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 15px;
    font-weight: 700;
}
.nav-icon img{
    width: 65px;
}
header nav{
    display: flex;
    gap: 25px;
}
header nav a{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.nav-suporte{
    background-color: #0DA34E;
    display: flex;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    padding: 6px 20px 6px 20px;
    gap: 20px;
}
.nav-suporte h1{
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    font-weight: 600;
    color: white;
}
.nav-suporte img{
    width: 30px;
}



/*Mobile Menu*/
.Button-Open-Menu{
    display: none;
}
.Menu-Mobile{
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 100vh;
    width: 0%;
    overflow: hidden;
    background-color: #E2E2E2;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    text-align: right;
    transition: .4s;
}
.Menu-Mobile.open-menu{
    width: 70%;
}
.Menu-Mobile.open-menu ~ .overlay-menu{
    display: block;
}
.Menu-Mobile img, .Button-Open-Menu img{
    width: 30px;
}
.Menu-Mobile img{
    padding-top:25px;
    padding-left: 15px;
}
.Menu-Mobile a {
    color: #333;
    text-decoration: none;
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding-right: 20px;
    min-width: 150px;
    height: 40px;
    line-height: 40px;
}
.overlay-menu{
    background-color: #00000077;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 888;
}
/*End Mobile Menu*/



.introduçao{
    background-color: #E2E2E2;
    padding-left: 65px;
    padding-right: 65px;
    padding-bottom: 210px;
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.introduçao>img{
    width: 600px;
}
.ps-introduçao{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.ps-introduçao h1{
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 35px;
    margin: 0;
    font-weight: 600;
}
.ps-introduçao span{
    font-family: "Roboto", sans-serif;
    font-weight: 800;
}
.ps-introduçao p{
    font-family: "Roboto", sans-serif;
    color: #555555;
    font-size: 18px;
    max-width: 400px;
}
.ps-introduçao > a{
    margin-top: 10px;
    background-color: #3A75B8;
    display: flex;
    max-width: 160px;
    justify-content: center;
    align-items: center;
    padding: 12px 20px 12px 20px;
    border-radius: 6px;
    gap: 20px;
    font-family: "Roboto", sans-serif;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;

}
.ps-introduçao> a> img{
    width: 20px;
}



.serviços{
    background-color: #D9D9D9;
    padding-left: 65px;
    padding-right: 65px;
}
.serviços h2{
    position: relative;
    bottom: 20px;
    background-color: white;
    border-radius: 30px;
    padding: 6px 20px 6px 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    max-width: 110px;
}
.serviços-boxes{
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-bottom: 210px;
    padding-top: 80px;
}
.serviço1, .serviço2, .serviço3{
    background-color: #F2F2F2;
    padding: 0px 30px 30px 30px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.serviço1 hr, .serviço2 hr, .serviço3 hr{
    margin-top: 15px;
    margin-bottom: 15px;
    height: 0.2px;
    opacity: 20%;
}
.serviço1 img, .serviço2 img, .serviço3 img{
    width: 40px;
}
.serviço1-banner, .serviço2-banner, .serviço3-banner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.serviço1-banner img, .serviço2-banner img, .serviço3-banner img{
    width: 270px;
    height: 200px;
}
.serviços-boxes >div>div>h1{
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.serviços-boxes >div>div>p{
    color: #777777;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    height: 194px;
    max-width: 300px;
}



footer{
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
}
.footer-conteudo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 65px 50px 65px;
}
.footer-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-icon h1{
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 15px;
    font-weight: 700;
}
.footer-icon img{
    width: 65px;
}
.footer-conteudo>nav{
    display: flex;
    gap: 25px;
}
.footer-conteudo>nav>a{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.footer-localizaçao{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-localizaçao h1{
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 15px;
    font-weight: 700;
}
.footer-localizaçao img{
    width: 65px;
}
.footer-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 65px 4px 65px;
}
.footer-info h1{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.footer-info a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    gap: 25px;
    text-decoration: none;
    color: #282828;
}
.footer-info a>img{
    width: 35px;
}



@media screen and (max-width: 1270px) {
    .serviços-boxes{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 60px;
    }
    .serviço1, .serviço2, .serviço3{
        width: 360px;
        height: 540px;
    }
}

@media screen and (max-width: 950px) {
    .introduçao>img{
        width: 450px;
    }
}

@media screen and (max-width: 880px) {
    .Button-Open-Menu{
        display: block;
    }
    header>nav, .nav-suporte{
        display: none !important;
    }
    .introduçao img{
        width: 500px;
    }
    .footer-icon img , .footer-localizaçao h1{
        display: none;
    }
    .footer-conteudo, .footer-info, .introduçao{
        flex-direction: column;
        gap: 30px;
    }
    .footer-conteudo nav{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .introduçao, header, .serviços, .footer-conteudo, .footer-info{
        padding-left: 10px!important;
        padding-right: 10px!important;
    }
}

@media screen and (max-width: 500px) {
    .introduçao>img {
        width: 100%;
    }
    .serviço1, .serviço2, .serviço3{
        width: 40vh;
        padding-left: 10px;
        padding-right: 10px;
    }
}
